@model Pokedex.Models.Pokemon

@{
    ViewData["Title"] = "ListPokemonPage";
}

<hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Type)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Type)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Weaknesses)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Weaknesses)
    </dd>
    <dd>
        @if (Model.Weaknesses.Count() > 0)
        {
            @foreach (var tag in Model.Weaknesses)
            {
                <div>@tag</div>
            }
        }
    </dd>
</dl>
